[Unit]
Description=MoniCrowd ACK Consumer
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/etc/telegraf/scripts
ExecStart=/usr/bin/python3 /etc/telegraf/scripts/sensor_command_ack_consumer.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
