MQTT_BROKER=localhost
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USER=your_mqtt_username
MQTT_PASS=your_mqtt_password

PG_HOST=127.0.0.1
PG_DB=your_database
PG_USER=your_pg_user
PG_PASS=your_pg_password
PG_DSN=host=127.0.0.1 dbname=your_database user=your_pg_user password=your_pg_password sslmode=disable

ACK_TOPIC=monicrowd/sensors/ack/#
CMD_TOPIC_PREFIX=monicrowd/sensors/cmd/
MQTT_TOPIC=monicrowd/sensors/#

CHIRPSTACK_BRIDGE_TOKEN=change_me
CHIRPSTACK_BRIDGE_LOG=/var/log/chirpstack_bridge.log
CHIRPSTACK_BRIDGE_PORT=8080